$main-clr: #223f9a;
$main-clr--dark: #001c6d;

$body-clr--light: #fff;
$body-clr: #f0eff6;
$body-clr--dark: #e4e6eb;

$input-clr--dark: #e9e9e9;
$input-clr: #f3f3f5;

$title-clr: hsl(30, 4%, 9%);
$text-clr--light: hsl(47, 4%, 45%);
$text-clr: hsl(36, 4%, 24%);
