<footer id="sticky-footer" class="py-4 text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Hudson Nguyen", "https://github.com/Hudson-Pufferfish", class: "text-white" %></small>
  </div>
</footer>
